/* the main body of the website starts here */
#mainGreyBackground {
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* dimensions */
    width: 100%;
    height: auto;
    
    
}

body{
    -ms-overflow-style: none;

}

html{
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

/* ==================== */
/* THE NAVBAR GOES HERE */
#navbar {
    background-color: var(--cp--black);
    width: 100%;
    max-width: 1920px;
    min-width: 100px;
    position: fixed;
    top: 0;
    z-index: +10;
}

.navbarWrapper {
    list-style: none;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linked {
    text-decoration: none;
    color: white;
    font-family: var(--ff--sora);
    font-size: 1.3rem;
}

.list3 {
    position: absolute;
    right: 4rem;

    /* display: none;           */
                            /* THE DISPLAY NONE PART */


    
}

.list2 {
    position: absolute;
    right: 13.5rem;

    /* display: none;           */
                            /* THE DISPLAY NONE PART */
}

.list1 {
    position: absolute;
    right: 20.5rem;

    /* display: none;           */
                            /* THE DISPLAY NONE PART */
}

.specialLink {
    background-color: #c9ab91;
    color: #2c1609;
    padding: 0.4em;
    border-radius: 10px;
}

.imgPlacer {
    position: relative;
    left: 2rem;
    
}

/* ======================================================== */
/* THE HAMBURGER MENU GOES HERE */

#hamburgerMenuButton{
    width: 3rem;
    height: 3rem;

    background-color:#c9ab91;
    border-radius: 50%;

    z-index: +12;

    position: fixed;
    top: 1rem;
    right: 2rem;

    display: none;  /* THE DISPLAY NONE PART */
    align-items: center;
    justify-content: center;

}

.imgHamburgerMenuImg{
    width: 1.6rem;
    height: auto;
}


#hamburgerMenu{
    width: 20rem;
    height: 100vh;

    background-color: #2c1609;

    position: fixed;
    top: 0rem;
    right: 0rem;

    overflow-x: hidden;

    display: flex;
    justify-content: start;
    padding: 4rem;
    padding-right: 0rem;
    

    z-index: +11;

    display: none; 
                        /* THE DISPLAY NONE PART */
}

#hamburgerMenuWrapper{
    list-style: none;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HamLink1, .HamLink2{
    text-decoration: none;
    color: white;
    font-family: var(--ff--sora);
    font-size: 1.4rem;
    font-weight: 600;
}
.HamLink3{
    text-decoration: none;
    color: black;
    font-family: var(--ff--sora);
    font-size: 1.4rem;
    font-weight: 600;
}

.hamLink1list1{
    position: relative;
    bottom: 2rem;

}
.hamLink1list2{
    position: relative;

}
.hamLink1list3{
    position: relative;
    top: 2rem;

}














/* ===================== */
/* Hero BackGround Image */

#heroSection {
    width: 100%;
    height: 115vh;
    background-image: url(../assets/img/heroImage.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -15rem;
    background-position-x: 1rem;
    background-position-x: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    min-width: 100px;
    
    
}

/* ================= */
/* HERO SECTION TEXT */
#heroSectionTextWrapper {
    width: 54rem;
    height: auto;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4rem;
    left: 1rem;

}

.heroTextMedium {
    color: white;
    font-size: 2rem;
    font-family: var(--ff--jost);
    font-weight: 600;
    line-height: 1rem;
}

.cityName {
    color: white;
    font-size: 6rem;
    font-family: var(--ff--sora);
}


/* ==================== */
/* WRAPPER HERO SECTION */




/* hero section wrapper 1 */
.organizeDateVenuSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.wrapperHeroSection1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-right: 1rem;
}
.wrapperHeroSectionPara{
    color: white;
    font-family: var(--ff--sora);
    font-weight: 600;
    padding: 0.2rem;
    font-size: 1.4rem;
}



/* hero section wrapper 2 */
.wrapperHeroSection2{
    width: 0.25rem;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.6);
}


/* hero section wrapper 3 */

.wrapperHeroSection3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.edits{
    margin-left: 1rem;
}

.dateWrapper{
    display: flex;
    flex-direction: row;

}

.imgResizerHeroSection{
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
}


/* the 4th section of the hero section wrapper 4 */
.wrapperHeroSection4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.paddingEdits{
    margin-right: -1rem;
}

.fontSize{
    font-size: 1rem;
}

#registernow{
    width: 10rem;
    height: 2rem;

    background-color: white;
    color: #2c1609;
    font-family: var(--ff--sora);
    font-weight: 600;

    display: none;
    justify-content: center;
    align-items: center;

    /* border: 2px solid #2c1609; */

}

/* ================= */
/* EVENT TIMELINE */
#EventTimeline{
    width: 100%;
    max-width: 1920px;
    min-width: 100px;
    height: 68rem;
    background-color: var(--cp--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 11rem 4rem;
    padding-bottom: 0rem;
    position: relative;
 }
.EventTimelineHeading{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--ff--sora);
    margin-left: 4rem;
}
.EventTimelineUnderline{
    width: 33rem;
    height: 0.3rem;
    background-color: white;
    position: relative;
    left: 2rem;
}
.EventTimelineGitImage{
    position: relative;
    top: 9.5rem;
    left: 2.5rem;
}

.EventTimelinebox{
    width: 15rem;
    height: 5rem;
    background-color: var(--cp--white);
    margin: 0.1rem;
    position: relative;
    padding: 0.5rem;
}

.box1{
    bottom: 23.5rem;
    left: 13rem;
}
.box2{
    bottom: 18rem;
    right: 8rem;
    display: flex;
    justify-content: end;
    align-items: center;
}
.box3{
    bottom: 13.5rem;
    left: 13rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}
.box4{
    bottom: 9.2rem;
    right: 8rem;
   
}
.box4txt{
    text-align: end;
}
.box4Img{
    left: 12rem;
}
.box4txt2{
    position: relative;
    left: 6rem;
    bottom: 2rem;
}






.textInEventTimelinebox{
    font-family: var(--ff--sora);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--cp--black);
}
.imgResizer{
    width: 2rem;
    height: auto;
    position: relative;
    top: 0.1rem;
}
.pos{
    position: relative;
    bottom: 2rem;
    left: 2.5rem;
    font-weight: 600;

}




/* =========== */
/* SPEAKERS */
#speakers {
    background-color: var(--cp--black);
    width: 100%;
    height: auto;
    max-width: 1920px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8rem;
}

#speakers h1 {
    font-size: 4rem;
    font-family: var(--ff--sora);
    padding: 4rem;
    padding-top: 8rem;
    margin-left: 4rem;
    color: white;
}




/* speaker1 section */

#speaker1div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    margin-bottom: 6rem;
}

.speaker1Paragraph {
    width: 100%;
    font-family: var(--ff--jost);
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    color: white;
}

.speaker1Image {
    width: 30%;
    height: auto;
    margin-left: 5rem;
}

.speaker1Heading {
    width: 100%;
    color: white;
    font-size: 2.8rem;
    font-family: var(--ff--sora);
    font-weight: 600;
    /* line-height: 2rem; */
    margin-bottom: 1.6rem;
}






/* speaker2 section */
#speaker2div {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.speaker2Image {
    width: 30%;
    height: auto;
    margin-right: 5rem;
}








/* speaker3 section */
#speaker3div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    margin-bottom: 6rem;
}

#writingWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ====================== */
/* THE PERKS SECTION */

#perks {
    width: 100%;
    height: 63rem;
    max-width: 1920px;
    min-width: 100px;
    background-color: var(--cp--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
}

.perksHeading {
    color: white;
    font-size: 4rem;
    font-family: var(--ff--sora);
    font-weight: 600;
    margin: 0rem;
    margin-top: 0rem;
    margin-right: 0;
    position: relative;
    bottom: 9rem;
    left: 2rem;
}


#perkWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.swags {
    width: 20rem;
    height: 20rem;
    background-color: var(--cp--darkGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

}

.swagsImgTrim {
    width: 14rem;
    height: 14rem;
}
.swagImg{
    position: relative;
    top: 1rem;
}
.pizzaImg{
    position: relative;
    top: 1rem;
}

.swag {
    margin-right: 4rem;
}

.pizza {
    margin-left: 4rem;
}
.networking{
    position: relative;
    top: 1rem;
}
.knowledge{
    position: relative;
    top: 3.5rem;
}


.imgSubtitle {
    font-size: 2rem;
    color: white;
    font-family: var(--ff--jost);
    position: relative;
    top: 6rem;
    font-weight: 600;

}


/* ================================ */
/* THE SPONSOR SECTION STARTS HERE */
#sponsor {
    width: 100%;
    max-width: 1920px;
    min-width: 100px;
    background-color: var(--cp--darkGrey);
    padding: 8rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

#sponsor h1 {
    font-family: var(--ff--sora);
    font-weight: 600;
    font-size: 4rem;
    color: white;
    margin-bottom: 8rem;
    margin-left: 4rem;
}
#sponsor img{
    margin-left: 5rem;
}

/* =================================== */
/* THE LETS CONNECT SECTION GOES HERE */


#letsConnect{
    font-size: 16px;
    width: 100%;
    height: 53rem;
    max-width: 1920px;
    min-width: 100px;
    background-color: var(--cp--white);
    position: relative;
    
}
.letsConnectHeading{
    color: var(--cp--black);
    font-weight: 600;
    font-family: var(--ff--sora);
    font-size: 4rem;

}
.letsConnectImgTrimmer{
    width: 20%;
    height: auto;
    margin: 2rem 0;
}


/* the socials */
.discord{
    width: 20em;
    height: 20em;
    background-color: #7289da;
    position: absolute;
    top: 8em;
    right: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter{
    width: 12em;
    height: 12em;
    background-color: #3b92f8;
    position: absolute;
    top: 29em;
    right: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mediumSize{
    width: 15em;
    height: 15em;
    background-color: red;
    position: absolute;
    top: 18em;
    right: 29em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin{
    background-color: #386ab5;
    top: 34em;
    right: 29em;
}