@media (max-width:1370px) {
    .perksHeading{
        margin-left: 6rem;
    }
    
    #heroSectionTextWrapper{
        left: 2rem;   
    }
    #speakers{
        padding: 0 ;
    }
    #sponsor h1{
        margin-left: 4rem;
    }
    #sponsor img{
        margin-left: 3rem;
    }
    #letsConnect{
        font-size: 14px;
        height: 46rem;
    }
    #speaker1div{
        width: 100%;
    }
}






@media(max-width:1800px){
    #speaker1div{
        width: 100%;
    }
    #speakers{
        padding: 0 ;
    }
}

@media (max-width:1647px){
    #perks {
        width: 100%;
        height: 81rem;
        max-width: 1920px;
        min-width: 1200px;
        background-color: var(--cp--black);
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        padding-bottom: 4rem;
        padding-top: 10rem;
    }
    .hat{
        position: relative;
        top: 30rem;
        right: 24rem;
    }
    .swag{
        position: relative;
        top: 30rem;
        left: 28rem;
    }
}

@media (max-width:1552px){
    #perks{
        position: relative;
    }
    .swag{
        position: relative;
        top: 0rem;
        left: 20rem;
    }
    .hat {
        position: relative;
        top: 28rem;
        right: 15rem;
    }
    .pizzaMove{
        position: relative;
        top: 28rem;
        right: 8rem;
    }
    .netwrok{
        position: absolute;
        top: 0rem;
        right: -9rem;
    }
}