/* the main body of the website starts here */
#mainGreyBackground{
    background-color: var(--cp--darkGrey);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* dimensions */
    width: 100%;
    height: auto;
}

/* ==================== */
/* THE NAVBAR GOES HERE */
#navbar{
    background-color: var(--cp--black);
    width: 100%;
    position: sticky;
    top: 0;
}
.navbarWrapper{
    list-style: none;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linked{
    text-decoration: none;
    color: white;
    font-family: var(--ff-sora);
    font-size: 1.3rem;
}

.list3{
    position: absolute;
    right: 4rem;
}

.list2{
    position: absolute;
    right: 15.5rem;
}

.list1{
    position: absolute;
    right: 22.5rem;
}

.specialLink{
    background-color: var(--cp--lightBlue);
    padding: 0.4em;
    border-radius: 10px;

}


