@media (max-width:425px){

/* the starting animation  */
#startingAnimationBlue{
    background-color: #0148a3;
    width: 100%;
    height: 100svh;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;

    z-index: 101;
    
}

#startingAnimationPercent{
    color: #0148a3;
    font-family: var(--ff--sora);
    font-size: 2rem;
    font-weight: 900;
    position: fixed;

    z-index: 102;

    bottom: 1%;
    right: 1%;
}

.startingAnimationBlueLogo{
    position: fixed;
    width: 10rem;
    height: auto;

    z-index: 100;
    
}


#startingAnimationWhite{
    background-color: white;
    width: 100%;
    height: 100svh;
    
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 98;
    
}













    /* the main body of the website starts here */
#mainGreyBackground {
    background-color: var(--cp--black);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* dimensions */
    width: 100%;
    height: auto;
}

/* ==================== */
/* THE NAVBAR GOES HERE */
#navbar {
    background-color: var(--cp--black);
    /* background-color: red; */
    width: 100%;
    max-width: 425px;
    min-width: none;
    position: fixed;
    top: 0;
    z-index: +10;
    overflow-x: hidden;
}

.navbarWrapper {
    list-style: none;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linked {
    text-decoration: none;
    color: white;
    font-family: var(--ff--sora);
    font-size: 1.3rem;
}

.list3 {
    position: absolute;
    right: 4rem;
}

.list2 {
    position: absolute;
    right: 13.5rem;
}

.list1 {
    position: absolute;
    right: 20.5rem;
}

.specialLink {
    background-color: #c9ab91;
    color: #2c1609;
    padding: 0.4em;
    border-radius: 10px;
}

.imgPlacer {
    position: relative;
    left: 0.2rem;
    
}

#noDisplay{
    display: none;
}


#hamburgerMenuButton{
    width: 2rem;
    height: 2rem;

    background-color:#c9ab91;
    border-radius: 50%;

    z-index: +12;

    position: fixed;
    top: 1rem;
    right: 1rem;

    display: flex; 
    justify-content: center; 
    align-items: center;
                        /* THE DISPLAY NONE PART */

}


.imgHamburgerMenuImg{
    width: 1.2rem;
    height: auto;
}

/* ===================== */
/* Hero BackGround Image */

#heroSection {
    width: 100%;
    height: 110vh;
    background-image: url(../assets/img/heroImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 3rem;
    background-position-x: 0rem;
    background-position-x: center;
    background-origin: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-width: 0px;
    
    
    
}

/* ================= */
/* HERO SECTION TEXT */
#heroSectionTextWrapper {
    width: 0rem;
    height: auto;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: none;
    justify-content: none;
    align-items: none;
    position: none;
    bottom: 0rem;
    left: 0rem;
    

}

.heroTextMedium {
    width: 19rem;
    color: white;
    font-size: 1.5rem;
    font-family: var(--ff--jost);
    font-weight: 600;
    line-height: 1rem;
    position: relative;
    bottom: 12rem;
    left: 2rem;
}
.line1{
    position: relative;
    left: 1rem;
}
.line3{
    left: 0.5rem;
    width: 12.9rem;
}

.cityName {
    color: white;
    font-size: 6rem;
    font-family: var(--ff--sora);
    position: relative;
    bottom: 12rem;
}


/* ==================== */
/* WRAPPER HERO SECTION */




/* hero section wrapper 1 */
.organizeDateVenuSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.wrapperHeroSection1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-right: 1rem;
    display: none;
}
.wrapperHeroSectionPara{
    color: white;
    font-family: var(--ff--sora);
    font-weight: 600;
    padding: 0.2rem;
    font-size: 1.4rem;
}



/* hero section wrapper 2 */
.wrapperHeroSection2{
    width: 0.25rem;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
}


/* hero section wrapper 3 */

.wrapperHeroSection3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    display: none;
}
.edits{
    margin-left: 1rem;
}

.dateWrapper{
    display: flex;
    flex-direction: row;

}

.imgResizerHeroSection{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}


/* the 4th section of the hero section wrapper 4 */
.wrapperHeroSection4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    display: none;
}
.paddingEdits{
    margin-right: -1rem;
}

.fontSize{
    font-size: 1rem;
}

#registernow{
    width: 10rem;
    height: 2rem;

    background-color: white;
    color: #2c1609;
    font-family: var(--ff--sora);
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid #2c1609; */

}

/* ===================== */
/* EVENT TIMELINE */
 
#EventTimeline{
    width: 100%;
    max-width: 475px;
    min-width: 0px;
    height: 68rem;
    background-color: var(--cp--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 11rem 4rem;
    padding-bottom: 0rem;
    padding-top: 5rem;
    position: relative;
 }
.EventTimelineHeading{
    color: white;
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--ff--sora);
    margin-left: 0rem;
    text-align: center;
}
.EventTimelineUnderline{
    width: 33rem;
    height: 0.3rem;
    background-color: white;
    position: relative;
    left: 2rem;
}
.EventTimelineGitImage{
    position: relative;
    top: 4.5rem;
    left: -8.5rem;
}

.EventTimelinebox{
    width: 15rem;
    height: 5rem;
    background-color: var(--cp--white);
    margin: 0.1rem;
    position: relative;
    padding: 0.5rem;
}

.box1{
    bottom: 28.5rem;
    left: 1rem;
}
.box2{
    bottom: 23rem;
    right: -1rem;
    display: flex;
    justify-content: end;
    align-items: center;
}
.box3{
    bottom: 18.5rem;
    left: 1rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}
.box4{
    bottom: 14.2rem;
    right: -1rem;
   
}
.box4txt{
    text-align: start;
}
.box4Img{
    left: 0rem;
}
.box4txt2{
    position: relative;
    left: 2.5rem;
    bottom: 2rem;
}






.textInEventTimelinebox{
    font-family: var(--ff--sora);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--cp--black);
}
.imgResizer{
    width: 2rem;
    height: auto;
    position: relative;
    top: 0.1rem;
}
.pos{
    position: relative;
    bottom: 2rem;
    left: 2.5rem;
    font-weight: 600;

}














/* =========== */
/* SPEAKERS */
#speakers {
    background-color: var(--cp--black);
    width: 100%;
    height: auto;
    max-width: 0px;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8rem;
}

#speakers h1 {
    font-size: 4rem;
    font-family: var(--ff--sora);
    padding: 4rem;
    padding-top: 8rem;
    margin-left: 4rem;
    color: white;
}




/* speaker1 section */

#speaker1div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    margin-bottom: 6rem;
}

.speaker1Paragraph {
    width: 100%;
    font-family: var(--ff--jost);
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: flex;
    align-items: center;
    color: white;
}

.speaker1Image {
    width: 30%;
    height: auto;
    margin-left: 5rem;
}

.speaker1Heading {
    width: 100%;
    color: white;
    font-size: 2.8rem;
    font-family: var(--ff--sora);
    font-weight: 600;
    /* line-height: 2rem; */
    margin-bottom: 1.6rem;
}






/* speaker2 section */
#speaker2div {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.speaker2Image {
    width: 30%;
    height: auto;
    margin-right: 5rem;
}







/* speaker3 section */
#speaker3div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    margin-bottom: 6rem;
}

#writingWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ====================== */
/* THE PERKS SECTION */

#perks {
    width: 100%;
    height: auto;
    max-width: 475px;
    min-width: 0px;
    background-color: var(--cp--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    position: relative;
    bottom: 6rem;
}

.perksHeading {
    color: white;
    font-size: 4rem;
    font-family: var(--ff--sora);
    font-weight: 600;
    margin: 0rem;
    margin-top: 0rem;
    margin-right: 0;
    position: relative;
    bottom: 6rem;
    left: 0rem;
}


#perkWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swags {
    width: 16rem;
    height: 16rem;
    background-color: var(--cp--darkGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

}

.swagsImgTrim {
    width: 10rem;
    height: 10rem;
}

.swag {
    position: relative;
    top: 0rem;
    left: 0rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
}
.swagImg{
    position: relative;
    top: 1rem;
}
.pizza {
    margin-left: 0rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.pizzaImg{
    position: relative;
    top: 1rem;
}
.networking{
    position: relative;
    top: 1.2rem;
}
.knowledge{
    position: relative;
    top: 3rem;
}
.hat{
    position: relative;
    top: 0rem;
    right: 0rem;
}


.imgSubtitle {
    font-size: 2rem;
    color: white;
    font-family: var(--ff--jost);
    position: relative;
    top: 6rem;
    font-weight: 600;
    text-align: center;

}


/* ================================ */
/* THE SPONSOR SECTION STARTS HERE */
#sponsor {
    width: 100%;
    height: 20rem;
    max-width: 475px;
    min-width: 0px;
    background-color: var(--cp--darkGrey);
    padding: 4rem 0rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

#sponsor h1 {
    font-family: var(--ff--sora);
    font-weight: 600;
    font-size: 3rem;
    color: white;
    margin-bottom: 0rem;
    margin-left: 0rem;
}
#sponsor img{
    margin-left: 0rem;
    margin-top: 2rem;
    width: 14rem;
    height: auto;
    position: relative;
    top: 1rem;
}

/* =================================== */
/* THE LETS CONNECT SECTION GOES HERE */


#letsConnect{
    font-size: 8px;
    width: 100%;
    height: 92vh;
    max-width: 475px;
    min-width: 0px;
    background-color: var(--cp--white);
    position: relative;
    padding: 2rem;
    
}
.letsConnectHeading{
    color: var(--cp--black);
    font-weight: 600;
    font-family: var(--ff--sora);
    font-size: 3rem;

}
.letsConnectImgTrimmer{
    width: 40%;
    height: auto;
    margin: 2rem 0;
}


/* the socials */
.discord{
    width: 20em;
    height: 20em;
    background-color: #7289da;
    position: absolute;
    top: 45em;
    right: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sizeDiscord{
    width: 15em;
    height: auto;
}

.twitter{
    width: 12em;
    height: 12em;
    background-color: #3b92f8;
    position: absolute;
    top: 66em;
    right: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sizetwitter{
    width: 8em;
    height: auto;
}

.mediumSize{
    width: 15em;
    height: 15em;
    background-color: red;
    position: absolute;
    top: 54em;
    right: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sizeYoutube{
    width: 10em;
    height: auto;
}
.sizeLinkedin{
    width: 10em;
    height: auto;
}
.linkedin{
    background-color: #386ab5;
    top: 70em;
    right: 25em;
}
}

@media (max-width:375px){
    #heroSection {
        width: 100%;
        height: 110vh;
        background-image: url(../assets/img/tarun-anand-giri-QdAGXP_Tv9Q-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: 3rem;
        background-position-x: 0rem;
        background-position-x: center;
        background-origin: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        min-width: 0px;
        
        
        
    }
    #letsConnect{
        font-size: 7.5px;
    }
    .cityName{
        font-size: 4rem;
    }
    .heroTextMedium{
        font-size: 1.4rem;
    }
    .box4txt2{
        width: 6rem;
    }
    .pos{
        width: 6rem;
    }
    .line1{
        width: 17rem;
    }
    .line1{
        left: 0.5rem;
    }
    .EventTimelineHeading{
        font-size: 3.5rem;
    }
    .perksHeadingf{
        font-size: 3.5rem;
    }
    .imgSubtitle{
        font-size:1.5rem ;
    }
    #letsConnect{
        font-size: 7px;
    }
}